<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBInfo" connectionString="Data Source=192.168.1.19;Initial Catalog=RTMS;User Id=sa;Password=xcom;Connect Timeout=5;" providerName="SQLXMLOLEDB.4.0"/>
    <add name="FileRootPath" connectionString="D:\TraceLog"/>
    <add name="Port" connectionString="5000"/>
    <add name="SqlQuery" connectionString="BULK INSERT [RTMS].[dbo].[tb_equipment_att_history] FROM '{0}' WITH ( FIELDTERMINATOR = ',', ROWTERMINATOR = '\n')"/>
  </connectionStrings>
</configuration>